<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="customConfig" type="Business.Configs.CustomConfig,Business"/>
  </configSections> 
  
    <appSettings>
    <add key="UserName" value="jmacnico" />
    <add key="Password" value="Narceitisou123" />
    <add key="Universo" value="Vega" />
    <add key="Email" value="josemicael16@hotmail.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
      
  <customConfig>
    <buttons>
      <button name="btnEntrar" value="loginBtn" />
      <button name="txtuserLogin" value="usernameLogin" />
      <button name="txtPassworLogin" value="passwordLogin" />
      <button name="cmbUniverso" value="serverLogin"/>
      <button name="btnloginSubmit" value="loginSubmit" />
      <button name="txtusernameRegister" value="username" />
      <button name="txtPasswordRegister" value="password" />
      <button name="txtEmailRegister" value="email" />
      <button name="cmbServerLoginRegister" value="serverLogin" />
      <button name="btnSubmitRegister" value="regSubmit" />
      <button name="chkAcceptRegister" value="agb" />
      <button name="listaPlanetas" value="//div[@id='planetList']/div" searchType="_path" />
      <button name="planeta" value="//div[@id='?']/a[contains(@class,'planetlink')]" searchType="_path" />
    <!--Menu-->
      <button name="MenuVistaGeral" value="//ul[@id='menuTable']/li/a[contains(@href,'overview')]" searchType="_path" />
      <button name="MenuRecursos" value="//ul[@id='menuTable']/li/a[contains(@href,'resources')]" searchType="_path" />
      <button name="MenuRecursosSettings" value="//ul[@id='menuTable']/li/span/a[contains(@href,'resourceSettings')]" searchType="_path" />
      <button name="MenuInstalacoes" value="//ul[@id='menuTable']/li/a[contains(@href,'station')]" searchType="_path" />
      <button name="MenuPesquisa" value="//ul[@id='menuTable']/li/a[contains(@href,'research')]" searchType="_path" />
      <button name="MenuPesquisaSettings" value="//ul[@id='menuTable']/li/span/a[contains(@href,'techtree')]" searchType="_path" />
      <button name="MenuHangar" value="//ul[@id='menuTable']/li/a[contains(@href,'shipyard')]" searchType="_path" />
      <button name="MenuDefesas" value="//ul[@id='menuTable']/li/a[contains(@href,'defense')]" searchType="_path" />
      <button name="MenuFrota" value="//ul[@id='menuTable']/li/a[contains(@href,'fleet1')]" searchType="_path" />
      <button name="MenuFrotaSettings" value="//ul[@id='menuTable']/li/span/a[contains(@href,'movement')]" searchType="_path" />
      <button name="MenuGalaxia" value="//ul[@id='menuTable']/li/a[contains(@href,'galaxy')]" searchType="_path" />
      
      
<!-- Recurso-->
      <button name="MinaMetalDetails" value="//li[@id='button1']/div/div/a[@id='details']" searchType="_path" />
      <button name="MinaMetalEvoluir" value="//li[@id='button1']/div/div/a[contains(@class,'fastBuild')]" searchType="_path" />
      <button name="MinaCristalDetails" value="//li[@id='button2']/div/div/a[@id='details']" searchType="_path" />
      <button name="MinaCristalEvoluir" value="//li[@id='button2']/div/div/a[contains(@class,'fastBuild')]" searchType="_path" />
      <button name="MinaDeuterioDetails" value="//li[@id='button3']/div/div/a[@id='details']" searchType="_path" />
      <button name="MinaDeuterioEvoluir" value="//li[@id='button3']/div/div/a[contains(@class,'fastBuild')]" searchType="_path" />
      <button name="PlantaEnergiaDetails" value="//li[@id='button4']/div/div/a[@id='details']" searchType="_path" />
      <button name="PlantaEnergiaEvoluir" value="//li[@id='button4']/div/div/a[contains(@class,'fastBuild')]" searchType="_path" />
      <button name="PlantaFusaoDetails" value="//li[@id='button5']/div/div/a[@id='details']" searchType="_path" />
      <button name="PlantaFusaoEvoluir" value="//li[@id='button5']/div/div/a[contains(@class,'fastBuild')]" searchType="_path" />
      <button name="SatelitesDetails" value="//li[@id='button6']/div/div/a[@id='details']" searchType="_path" />
      <button name="SatelitesEvoluir" value="//li[@id='button6']/div/div/a[contains(@class,'fastBuild')]" searchType="_path" />
      <button name="ArmazemMetalDetails" value="//li[@id='button7']/div/div/a[@id='details']" searchType="_path" />
      <button name="ArmazemMetalEvoluir" value="//li[@id='button7']/div/div/a[contains(@class,'fastBuild')]" searchType="_path" />
      <button name="ArmazemCristalDetails" value="//li[@id='button8']/div/div/a[@id='details']" searchType="_path" />
      <button name="ArmazemCristalEvoluir" value="//li[@id='button8']/div/div/a[contains(@class,'fastBuild')]" searchType="_path" />
      <button name="ArmazemDeuterioDetails" value="//li[@id='button9']/div/div/a[@id='details']" searchType="_path" />
      <button name="ArmazemDeuterioEvoluir" value="//li[@id='button9']/div/div/a[contains(@class,'fastBuild')]" searchType="_path" />
      <button name="EsconderijoMetalDetails" value="//li[@id='button10']/div/div/a[@id='details']" searchType="_path" />
      <button name="EsconderijoMetalEvoluir" value="//li[@id='button10']/div/div/a[contains(@class,'fastBuild')]" searchType="_path" />
      <button name="EsconderijoCristalDetails" value="//li[@id='button11']/div/div/a[@id='details']" searchType="_path" />
      <button name="EsconderijoCristalEvoluir" value="//li[@id='button11']/div/div/a[contains(@class,'fastBuild')]" searchType="_path" />
      <button name="EsconderijoDeuterioDetails" value="//li[@id='button12']/div/div/a[@id='details']" searchType="_path" />
      <button name="EsconderijoDeuterioEvoluir" value="//li[@id='button12']/div/div/a[contains(@class,'fastBuild')]" searchType="_path" />
      
      <!--Instalações-->
      <button name="FabricaRobotsDetails" value="//li[@id='button0']/div/div/a[@id='details14']" searchType="_path" />
      <button name="FabricaRobotsEvoluir" value="" searchType="_path" />
      <button name="HangarDetails" value="//li[@id='button1']/div/div/a[@id='details21']" searchType="_path" />
      <button name="HangarEvoluir" value="" searchType="_path" />
      <button name="LabratorioPesquisasDetails" value="//li[@id='button2']/div/div/a[@id='details31']" searchType="_path" />
      <button name="LabratorioPesquisasEvoluir" value="" searchType="_path" />
      <button name="DepositoAliancaDetails" value="//li[@id='button3']/div/div/a[@id='details34']" searchType="_path" />
      <button name="DepositoAliancaEvoluir" value="" searchType="_path" />
      <button name="SiloMisseisDetails" value="//li[@id='button4']/div/div/a[@id='details44']" searchType="_path" />
      <button name="SiloMisseisEvoluir" value="" searchType="_path" />
      <button name="FabricaNanitesDetails" value="//li[@id='button5']/div/div/a[@id='details15']" searchType="_path" />
      <button name="FabricaNanitesEvoluir" value="" searchType="_path" />
      <button name="TerraFormadorDetails" value="//li[@id='button6']/div/div/a[@id='details33']" searchType="_path" />
      <button name="TerraFormadorEvoluir" value="" searchType="_path" />
      
      
    </buttons>
  </customConfig>

</configuration>